.body-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

form{
    display: grid;
    grid-template-columns: repeat(3, 2fr 3fr);
    grid-template-rows:80px;
    padding: 25px;
    text-align: center;
}

input{
    border-radius: 8px;
    padding: 8px;
    height: fit-content;
}

#actualizar{
    border-radius: 10px;
    background-color: lightblue;
    transition: all 0.5s color ease-in-out;
    font-weight: bold;
}

#actualizar:hover{
    background-color: aliceblue;
    cursor: pointer;
    scale: 1.1;
}

#borrar, #cancelar{
    border-radius: 10px;
    color: aliceblue;
    background-color: red;
    transition: all 0.5s color ease-in-out;
    font-weight: bold;
}

#borrar:hover, #cancelar:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    scale: 1.1;
}

#agregar{
    border-radius: 10px;
    background-color: greenyellow;
    transition: all 0.5s color ease-in-out;
    font-weight: bold;
}

#agregar:hover{
    background-color: aliceblue;
    cursor: pointer;
    scale: 1.1;
}

#actualizar{
    border-radius: 10px;
    background-color: greenyellow;
    transition: all 0.5s color ease-in-out;
    font-weight: bold;
}

#actualizar:hover{
    background-color: aliceblue;
    cursor: pointer;
    scale: 1.1;
}

table, th, td{
    border: 1px solid;
}

table{
    width: 100%;
}

table tbody td{
    max-width: 100px;
    text-align: center;
    
}


table tbody tr:hover{
    background-color: coral;
}
