header{
    background-color: #170000;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px;
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
}

.container-logo img{
    height: 100px;
    width: 100px;
}